<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    index 這是index2

    <script>
        let begin_date = '2023-01-01'
        let end_date = '2023-01-01'
        
        getData(begin_date, end_date)
        async function getData() {
            let data = await fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "begin_date": begin_date,
                    "end_date": end_date,
                })
            }).then(res => res.json())
            console.log(data)
        }

    </script>
</body>

</html>